---
import AHA from "../../assets/aha.avif";
import Layout from "../../layouts/Layout.astro"
---

<Layout title="Allied Health Services | Infinity Support Services">
    <div class="flex justify-around mx-auto p-10">
        <div class="flex flex-col justify-center items-center mt-5">
            <h1 class="lg:text-5xl text-3xl font-bold text-[#116089]">Allied Health Services</h1>
            <div class="flex lg:flex-row flex-col bg-white shadow-md mt-10 w-[90%]">
                <figure class="lg:w-2/3">
                    <img src={AHA.src} />
                </figure>
                <div class="card-body flex flex-col items-start">
                    <p>
                        As a registered NDIS provider, <span class="text-[#116089] font-semibold">Infinity Support Services</span> offers comprehensive assessment and treatment services designed to promote independence, mobility, comfort, and overall wellbeing for people living with disabilities.
                    </p>
                    <p class="my-0.5">
                        We partner with leading providers of equipment and home modifications, enabling us to meet a broad range of allied health needs under the NDIS.
                    </p>
                    <p>
                        <span class="text-[#116089] font-semibold">Our experienced team works with individuals across a wide spectrum of disabilities, including:</span>
                        <ul class="mx-5 list-disc lg:text-xs">
                            <li class="m-2">Intellectual Disability</li>
                            <li class="m-2">Autism Spectrum Disorder</li>
                            <li class="m-2">Psychosocial Disabilities</li>
                            <li class="m-2">Cerebral Palsy</li>
                            <li class="m-2">Spinal Cord Injuries (paraplegia, quadriplegia, hemiplegia)</li>
                            <li class="m-2">Down Syndrome</li>
                            <li class="m-2">Neurological conditions such as Motor Neurone Disease (MND), Parkinson’s Disease (PD), Multiple Sclerosis (MS), and Alzheimer’s</li>
                            <li class="m-2">Acquired Brain Injury (ABI) and Stroke</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</Layout>