---
import CommunityAccess from "../../assets/community-access.jpg";
import Layout from "../../layouts/Layout.astro"
---

<Layout title="Community Access | Infinity Support Services">
    <div class="flex justify-around mx-auto pt-10 pb-20">
        <div class="flex flex-col justify-center items-center">
            <h1 class="lg:text-5xl text-3xl font-bold text-[#116089]">Community Access</h1>
            <div class="flex lg:flex-row flex-col bg-white shadow-md mt-10 lg:w-[90%] w-[85%]">
                <figure>
                    <img src={CommunityAccess.src} />
                </figure>
                <div class="card-body flex flex-col items-start">
                    <p class="font-semibold text-[#116089]">
                        Get Involved. Stay Connected. Live Meaningfully.
                    </p>
                    <p>
                        Our <span class="font-semibold text-[#116089]">Community Access</span> programs support people with disability to build confidence, foster independence, and enjoy meaningful participation in everyday life. Whether it's joining social groups, attending events, learning new skills, or exploring your local area — we're here to help you connect, grow, and thrive.
                    </p>
                    <p>
                        With personalised support and a focus on your goals and interests, we make it easier for you to be part of your community in ways that matter to you.
                    </p>
                    <p class="font-semibold text-[#116089]">
                        Because life is better when you're part of it.
                    </p>
                </div>
            </div>
        </div>
    </div>
</Layout>