---
import SupportCoord from "../../assets/supportcoordination.jpg";
import Layout from "../../layouts/Layout.astro"
---

<Layout title="Support Coordination | Infinity Support Services">
    <div class="flex justify-around mx-auto p-25">
        <div class="flex flex-col justify-center items-center mt-5">
            <h1 class="lg:text-5xl text-3xl font-bold text-[#116089]">Support Coordination</h1>
            <div class="flex lg:flex-row flex-col bg-white shadow-md mt-10 w-[90%]">
                <figure class="lg:w-1/2">
                    <img src={SupportCoord.src} />
                </figure>
                <div class="card-body flex flex-col items-start">
                    <p class="font-semibold text-[#116089]">
                        Navigating the NDIS, Together
                    </p>
                    <p>
                        Our <span class="font-semibold text-[#116089]">Support Coordination</span> services are here to help you make the most of your NDIS plan. We work alongside you to understand your goals, connect you with the right services, and coordinate supports that suit your lifestyle and needs.
                    </p>
                    <p>
                        Whether you're new to the NDIS or looking to get more out of your current plan, our experienced team will guide you every step of the way — with transparency, respect, and a focus on your independence.
                    </p>
                    <p class="font-semibold text-[#116089]">
                        Your plan. Your goals. Our support.
                    </p>
                </div>
            </div>
        </div>
    </div>
</Layout>