---
import AHA from "../../assets/aha.avif";
import Layout from "../../layouts/Layout.astro"
---

<Layout title="About Us | Infinity Support Services">
    <div class="flex justify-around mx-auto p-10">
        <div class="flex flex-col justify-center items-center mt-5">
            <h1 class="lg:text-5xl text-3xl font-bold text-[#116089]">Allied Health Services</h1>
            <div class="flex lg:flex-row flex-col bg-white shadow-md mt-10 w-[90%]">
                <figure>
                    <img src={AHA.src} class="h-full" />
                </figure>
                <div class="card-body flex flex-col items-start">
                    <p>
                    Get the Support You Need — Faster and More Effectively
                    </p>
                    <p class="my-0.5">
                        At 
                        <span class="font-bold text-[#116089]">Infinity Support Services</span>, 
                        our experienced Allied Health Assistants, trained in Speech Pathology and Occupational Therapy, work closely with your therapy team to help you stay on
                        track—right from the comfort of home.
                    </p>
                    <p class="lg:my-3 my-6">
                        With regular guided support, you can:
                        <ul class="mx-5">
                            <li><span class="mr-2">✔</span> Practice therapy strategies between sessions</li>
                            <li><span class="mr-2">✔</span> Build confidence and independence in everyday tasks</li>
                            <li><span class="mr-2">✔</span> Optimise your NDIS funding and reach your goals sooner</li>
                        </ul>
                    </p>
                    <p class="my-0.5">
                        Whether you're working on communication, sensory regulation, fine motor skills, daily living activities, or anything else in between — our AHAs help bring your therapy plan to life in real world settings.
                    </p>
                    <p class="my-0.5">
                        Rooted in passion, collaboration, and genuine choice, we're here to empower you every step of the way.
                    </p>
                    <p class="my-0.5">
                        Let us help make your journey smoother, more consistent and truly effective.
                    </p>
                </div>
            </div>
        </div>
    </div>
</Layout>