---
import Mission from "../assets/mission.jpg";
import Vision from "../assets/vision.jpg";
import Values from "../assets/values.jpeg";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Us | Infinity Support Services">
    <div class="flex justify-around mx-auto p-10">
        <div class="flex flex-col justify-center items-center mt-5">
            <h1 class="lg:text-5xl text-3xl font-bold text-[#116089]">About Us</h1>
            <div class="bg-white flex flex-col justify-center mt-5 p-10 rounded-md shadow-md lg:w-[90%] w-[100%]">
                <p>
                    At <span class="text-[#116089] font-semibold">Infinity Support Services</span>, we don't just deliver care—we unlock potential.
                    As a nationally registered NDIS provider, we specialise in supporting individuals with dual disabilities and psychosocial challenges.
                    Our multidisciplinary team is committed to turning aspirations into everyday achievements.
                </p>
                <p class="mt-5 mb-2">
                    <span class="text-[#116089] font-semibold">What makes us different?</span>
                    <ul class="list-disc list-inside ml-5">
                        <li class="m-2"><span class="text-[#116089] font-semibold">Personalised Support</span>: From Supported Independent Living (SIL) and Individualised Living Options (ILO) to community engagement, nursing, allied health, and specialist support coordination—every service is tailored to your unique goals and lifestyle.</li>
                        <li class="m-2"><span class="text-[#116089] font-semibold">Strength-Based Approach</span>: We focus on what's strong, not what's wrong. Our approach amplifies your strengths while building new skills and confidence.</li>
                        <li class="m-2"><span class="text-[#116089] font-semibold">Genuine Partnership</span>: You're in the driver's seat—we provide the map, tools, and support so you can make informed choices and thrive on your own terms.</li>
                    </ul>
                </p>
                <p class="mt-5">
                    Whether it's building daily living skills, connecting with community, or achieving greater independence, Infinity is with you—every step, every success, every time. Let's create a life you love, together.
                </p>
            </div>
        </div>
    </div>
    <div class="flex lg:flex-row flex-col lg:justify-around items-center lg:mx-auto p-10 bg-[#116089]">
        <div class="card w-96 h-108 lg:my-0 my-5 bg-white shadow-md text-[#6cab38] hover:transform hover:scale-105 transition-transform duration-300">
            <figure>
                <img src={Vision.src} />
            </figure>
            <div class="card-body justify-center items-center text-center">
                <h2 class="card-title text-3xl">Our Vision</h2>
                <p class="text-black">To empower and support people with disability and those experiencing mental health challenges to live the life they choose. We do this by actively listening, showing respect, advocating for individual rights, and fostering genuine choice and control over the supports and services they receive.</p>
            </div>
        </div>
        <div class="card w-96 h-108 lg:my-0 my-5 bg-white shadow-md text-[#6cab38] hover:transform hover:scale-105 transition-transform duration-300">
            <figure>
                <img src={Mission.src} />
            </figure>
            <div class="card-body justify-center items-center text-center">
                <h2 class="card-title text-3xl">Our Mission</h2>
                <p class="text-black">We’re committed to supporting people with disability and mental health challenges to actively participate in their communities. Our goal is to empower individuals to live with dignity, respect, and equal rights through meaningful connection and inclusive support.</p>
            </div>
        </div>
        <div class="card w-96 h-108 lg:my-0 my-5 bg-white shadow-md text-[#6cab38] hover:transform hover:scale-105 transition-transform duration-300">
            <figure>
                <img src={Values.src} />
            </figure>
            <div class="card-body justify-center items-center text-center">
                <h2 class="card-title text-3xl">Our Values</h2>
                <p class="text-black">
                    <ul class="flex flex-col list-inside text-black text-lg">
                        <li>Compassion</li>
                        <li>Collaboration</li>
                        <li>Respect</li>
                        <li>Diversity</li>
                        <li>Stewardship</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</Layout>