---
import Mission from "../assets/mission.jpg";
import Vision from "../assets/vision.jpg";
import Values from "../assets/values.jpeg";
import TeamCard from "../components/TeamCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Us | Infinity Support Services">
    <div class="flex justify-around mx-auto p-10">
        <div class="flex flex-col justify-center items-center mt-5">
            <h1 class="lg:text-5xl text-3xl font-bold text-[#116089]">About Us</h1>
            <div class="bg-white flex flex-col justify-center mt-5 p-10 rounded-md shadow-md lg:w-[90%] w-[100%]">
                <p>
                    <span class="font-bold text-[#116089]">Infinity Support Services Australia Pty Ltd </span>
                    is a registered NDIS provider offering disability and community services across Victoria, Tasmania, South Australia and Queensland.
                    We specialise in supporting individuals with dual disabilities and mental health conditions, helping them achieve their goals through a collaborative, recovery-focused approach. Our experienced team delivers tailored services including:
                    <ul class="list-disc list-inside pt-6">
                        <li>Psychosocial Recovery Coaching</li>
                        <li>Community Nursing Care</li>
                        <li>Accommodation (SIL), Respite & Core Supports</li>
                        <li>Day Programs, Group Activities, and Holiday Programs</li>
                        <li>Social & Civic Participation</li>
                    </ul>
                </p>
                <p class="pt-6">
                    At Infinity, we place clients at the centre of their support. We use a strength-based model to empower individuals with choice, control, and the opportunity to live meaningful, independent lives.
                    Our values — 
                    <span class="relative font-bold text-[#116089]">compassion, empathy, teamwork, respect, diversity, and stewardship </span>
                    — guide everything we do. We believe in ability over disability, and in recovery as a real and achievable journey. Through respectful communication and strong partnerships with families and stakeholders, we provide holistic, client-focused care.
                    <br/>We listen, support, and work with you to build a life filled with purpose, growth, and dignity.
                </p>
            </div>
        </div>
    </div>
    <div class="flex lg:flex-row flex-col lg:justify-around items-center lg:mx-auto p-10 bg-[#116089]">
        <div class="card w-96 h-108 lg:my-0 my-5 bg-white shadow-md text-[#6cab38] hover:transform hover:scale-105 transition-transform duration-300">
            <figure>
                <img src={Vision.src} />
            </figure>
            <div class="card-body justify-center items-center text-center">
                <h2 class="card-title text-3xl">Our Vision</h2>
                <p class="text-black">To empower and support people with disabilities and mental health problems to live the lives they desire and fully recover respectively. We will listen to our clients, treat them with respect, empower, advocate and offer genuine choice and control over the services they need.</p>
            </div>
        </div>
        <div class="card w-96 h-108 lg:my-0 my-5 bg-white shadow-md text-[#6cab38] hover:transform hover:scale-105 transition-transform duration-300">
            <figure>
                <img src={Mission.src} />
            </figure>
            <div class="card-body justify-center items-center text-center">
                <h2 class="card-title text-3xl">Our Mission</h2>
                <p class="text-black">To create more opportunities for people living with disabilities and mental health issues to engage and participate in their wider communities. We aim to create a lasting social impact for our community where people with disabilities and mental health issues are supported and empowered to live the lives they desire as equal citizens.</p>
            </div>
        </div>
        <div class="card w-96 h-108 lg:my-0 my-5 bg-white shadow-md text-[#6cab38] hover:transform hover:scale-105 transition-transform duration-300">
            <figure>
                <img src={Values.src} />
            </figure>
            <div class="card-body justify-center items-center text-center">
                <h2 class="card-title text-3xl">Our Values</h2>
                <p class="text-black">
                    <ul class="flex flex-col list-inside text-black text-lg">
                        <li>Compassion</li>
                        <li>Collaboration</li>
                        <li>Respect</li>
                        <li>Diversity</li>
                        <li>Stewardship</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <!-- <div class="flex justify-around mx-auto p-10">
        <div class="flex flex-col justify-center items-center">
            <h1 class="lg:text-5xl text-3xl font-semibold text-center text-[#116089] mb-10">Meet Our Team</h1>
            <div class="flex lg:flex-row flex-col">
                <TeamCard name="John Doe" description="Chief Executive Officer" image="https://static.wixstatic.com/media/11062b_a22d7b95955f4ec4b027606e3fa7fcd8~mv2.jpg/v1/fill/w_228,h_228,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/11062b_a22d7b95955f4ec4b027606e3fa7fcd8~mv2.jpg" />
                <TeamCard name="Jane Smith" description="Operations Manager" image="https://static.wixstatic.com/media/11062b_0c71ba62385e4ad8a52baaf32ca8a4a7~mv2.jpg/v1/fill/w_228,h_228,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/11062b_0c71ba62385e4ad8a52baaf32ca8a4a7~mv2.jpg" />
                <TeamCard name="Alice Johnson" description="Service Delivery and Business Development Manager" image="https://static.wixstatic.com/media/11062b_2bca3fd72bdb487a99ad443c7ae22d2a~mv2.jpeg/v1/fill/w_228,h_228,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/11062b_2bca3fd72bdb487a99ad443c7ae22d2a~mv2.jpeg" />
            </div>
        </div>
    </div> -->
</Layout>