---
import Review from '../components/Review.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="container flex justify-around mx-auto p-3 lg:my-0 my-25">
		<div class="flex lg:flex-row flex-col justify-center items-center">
			<div class="flex flex-col justify-center items-center">
				<h1 class="text-4xl font-bold w-[60%] text-center text-[#116089]">A Support Service with a Difference</h1>
				<p class="mt-4 text-lg w-[60%] text-center">
					<span class="font-bold text-[#116089]">Infinity Support Services</span>
					is a Community Support Service with innovative ideas
				</p>
				<div class="flex mt-3">
					<a href="/infinitysupport/about" class="btn bg-[#116089] hover:bg-[#116089]/85 btn-lg text-white px-5">About Us</a>
				</div>
			</div>
			<div class="hidden lg:flex">
				<img src="https://static.wixstatic.com/media/382cc6_72e777aedd73441a8a65fc24f3fa56e5~mv2.jpg/v1/fill/w_982,h_828,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/382cc6_72e777aedd73441a8a65fc24f3fa56e5~mv2.jpg" width="500" height="500" alt="Image" />
			</div>
		</div>
	</div>
	<div class="flex justify-center mx-auto p-10 bg-[#116089] text-white w-full">
		<div>
			<h1 class="text-7xl font-semibold text-center">NDIS</h1>
			<div class="flex lg:flex-row flex-col text-center text-xl mt-10">
				<div class="odd:bg-[#4d6c88] even:bg-[#20466a] my-5 lg:mx-5 p-6 w-48 h-48 flex items-center rounded-md hover:transform hover:scale-105 transition-transform duration-300">Support Coordination</div>
				<div class="odd:bg-[#4d6c88] even:bg-[#20466a] my-5 lg:mx-5 p-6 w-48 h-48 flex items-center rounded-md hover:transform hover:scale-105 transition-transform duration-300">Community Access</div>
				<div class="odd:bg-[#4d6c88] even:bg-[#20466a] my-5 lg:mx-5 p-6 w-48 h-48 flex items-center rounded-md hover:transform hover:scale-105 transition-transform duration-300">Allied Health Assistants</div>
				<div class="odd:bg-[#4d6c88] even:bg-[#20466a] my-5 lg:mx-5 p-6 w-48 h-48 flex items-center rounded-md hover:transform hover:scale-105 transition-transform duration-300">Accommodation</div>
			</div>
		</div>
	</div>
	<div class="flex justify-center mx-auto p-10 bg-[#4c7124] text-white w-full">
		<div class="items-center">
			<div class="flex lg:flex-row flex-col justify-around text-center">
				<div class="lg:mx-20 my-5">
					<h1 class="font-semibold text-6xl">15</h1>
					<p class="mt-2.5">Years of Experience</p>
				</div>
				<div class="lg:mx-20 my-5">
					<h1 class="font-semibold text-6xl">452</h1>
					<p class="mt-2.5">Smiling Clients</p>
				</div>
				<div class="lg:mx-20 my-5">
					<h1 class="font-semibold text-6xl">26</h1>
					<p class="mt-2.5">Master Certifications</p>
				</div>
				<div class="lg:mx-20 my-5">
					<h1 class="font-semibold text-6xl">12</h1>
					<p class="mt-2.5">Happy Staff</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container flex justify-around mx-auto p-10">
		<div class="flex flex-col justify-center items-center">
			<h1 class="text-5xl font-semibold text-center text-[#116089] mb-10">Reviews</h1>
			<Review />
		</div>
	</div>
</Layout>
