---
import Review from '../components/Review.astro';
import SimplePropertyCard from '../components/SimplePropertyCard.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="container flex justify-around mx-auto p-3 lg:my-0 my-25">
		<div class="flex lg:flex-row flex-col justify-center items-center">
			<div class="flex flex-col justify-center items-center">
				<h1 class="text-4xl font-bold w-[60%] text-center text-[#116089]">A Community of Care, Driven by Innovation.</h1>
				<div class="flex mt-3">
					<a href="/about" class="btn bg-[#6cab38] hover:bg-[#6cab38]/85 btn-lg text-white px-5 my-2.5">About Us</a>
				</div>
			</div>
			<div class="hidden lg:flex">
				<img src="https://static.wixstatic.com/media/382cc6_72e777aedd73441a8a65fc24f3fa56e5~mv2.jpg/v1/fill/w_982,h_828,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/382cc6_72e777aedd73441a8a65fc24f3fa56e5~mv2.jpg" width="500" height="500" alt="Image" />
			</div>
		</div>
	</div>
	<div class="flex justify-center mx-auto p-10 bg-[#116089] text-white w-full">
		<div>
			<h1 class="text-7xl font-semibold text-center">NDIS</h1>
			<div class="flex lg:flex-row flex-col text-center text-xl mt-10">
				<div class="odd:bg-[#4d6c88] even:bg-[#20466a] my-5 lg:mx-5 p-6 w-48 h-48 flex items-center rounded-md hover:transform hover:scale-105 transition-transform duration-300">Support Coordination</div>
				<div class="odd:bg-[#4d6c88] even:bg-[#20466a] my-5 lg:mx-5 p-6 w-48 h-48 flex items-center rounded-md hover:transform hover:scale-105 transition-transform duration-300">Community Access</div>
				<div class="odd:bg-[#4d6c88] even:bg-[#20466a] my-5 lg:mx-5 p-6 w-48 h-48 flex items-center rounded-md hover:transform hover:scale-105 transition-transform duration-300">Allied Health Assistants</div>
				<div class="odd:bg-[#4d6c88] even:bg-[#20466a] my-5 lg:mx-5 p-6 w-48 h-48 flex items-center rounded-md hover:transform hover:scale-105 transition-transform duration-300">Accommodation</div>
			</div>
		</div>
	</div>
	<div class="flex justify-center mx-auto p-10 text-[#116089] w-full">
		<div>
			<h1 class="lg:text-6xl text-2xl font-semibold text-center">Property Listings</h1>
			<div class="flex lg:flex-row flex-col text-center text-xl mt-10">
				<SimplePropertyCard location="Coburg, VIC, 3058" img="https://static.wixstatic.com/media/382cc6_e4b94fbe996145fc959b1e0637b6cfb8~mv2.jpg/v1/fill/w_622,h_388,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/Property%20Listing%20-%20VIC.jpg" />
				<SimplePropertyCard location="Munno Para, SA, 5115" img="https://static.wixstatic.com/media/382cc6_ce053c94234643e6992c7900cd95593f~mv2.jpg/v1/crop/x_0,y_23,w_2400,h_1497/fill/w_622,h_388,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/Property%20Listing%20-%20SA.jpg" />
				<SimplePropertyCard location="Rokeby, TAS, 7019" img="https://static.wixstatic.com/media/382cc6_7729394a234a4220a2b3c29877bc7893~mv2.jpg/v1/crop/x_0,y_475,w_1041,h_649/fill/w_622,h_388,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/Property%20Listing%20-%20TAS.jpg" />
			</div>
			<div class="flex justify-center">
				<a href="/properties" class="btn bg-[#6cab38] hover:bg-[#6cab38]/85 btn-lg text-white px-5 mt-2.5">View Properties</a>
			</div>
		</div>
	</div>
	<div class="flex justify-around bg-[#116089] mx-auto p-10">
		<div class="flex flex-col justify-center items-center">
			<h1 class="text-6xl font-semibold text-center text-white mb-10">Reviews</h1>
			<Review server:defer />
		</div>
	</div>
</Layout>
