---
import Main from '../assets/main.avif'
import Review from '../components/Review.astro';
import SimplePropertyCard from '../components/SimplePropertyCard.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="container flex justify-around mx-auto p-3 lg:my-0 my-25">
		<div class="flex lg:flex-row flex-col justify-center items-center">
			<div class="flex flex-col justify-center items-center">
				<h1 class="text-4xl font-bold w-[60%] text-center text-[#116089]">A Community of Care, Driven by Innovation.</h1>
				<div class="flex mt-3">
					<a href="/about" class="btn bg-[#6cab38] hover:bg-[#6cab38]/85 btn-lg text-white px-5 my-2.5">About Us</a>
				</div>
			</div>
			<div class="hidden lg:flex">
				<img src={Main.src} width="500" height="500" alt="Image" />
			</div>
		</div>
	</div>
	<div class="flex justify-center mx-auto p-10 bg-[#116089] text-white w-full">
		<div>
			<h1 class="text-7xl font-semibold text-center">NDIS</h1>
			<div class="flex lg:flex-row flex-col text-[#116089] text-center text-xl font-semibond mt-10">
				<div class="bg-white my-5 lg:mx-5 p-6 w-64 h-56 flex flex-col justify-center items-center rounded-md hover:transform hover:scale-105 transition-transform duration-300">
					<p class="font-semibold">Accommodation</p>
					<a href="/services/accommodation" class="btn bg-[#6cab38] hover:bg-[#6cab38]/85 btn-md text-white p-5 mt-5">More Info</a>
				</div>
				<div class="bg-white my-5 lg:mx-5 p-6 w-64 h-56 flex flex-col justify-center items-center rounded-md hover:transform hover:scale-105 transition-transform duration-300">
					<p class="font-semibold">Allied Health Services</p>
					<a href="/services/alliedhealth" class="btn bg-[#6cab38] hover:bg-[#6cab38]/85 btn-md text-white p-5 mt-5">More Info</a>
				</div>
				<div class="bg-white my-5 lg:mx-5 p-6 w-64 h-56 flex flex-col justify-center items-center rounded-md hover:transform hover:scale-105 transition-transform duration-300">
					<p class="font-semibold">Community Access</p>
					<a href="/services/community" class="btn bg-[#6cab38] hover:bg-[#6cab38]/85 btn-md text-white p-5 mt-5">More Info</a>
				</div>
				<div class="bg-white my-5 lg:mx-5 p-6 w-64 h-56 flex flex-col justify-center items-center rounded-md hover:transform hover:scale-105 transition-transform duration-300">
					<p class="font-semibold">Support Coordination</p>
					<a href="/services/support" class="btn bg-[#6cab38] hover:bg-[#6cab38]/85 btn-md text-white p-5 mt-5">More Info</a>
				</div>
			</div>
		</div>
	</div>
	<div class="flex justify-center mx-auto p-10 text-[#116089] w-full">
		<div>
			<h1 class="lg:text-6xl text-2xl font-semibold text-center">Property Listings</h1>
			<div class="flex lg:flex-row flex-col text-center text-xl mt-10">
				<SimplePropertyCard location="Munno Para, SA, 5115" img="https://res.cloudinary.com/hc4clemkt/image/upload/v1741150197/xstikuj2vjdmqzcos3oj.jpg" server:defer />
				<SimplePropertyCard location="Deanside, VIC, 3336" img="https://res.cloudinary.com/hc4clemkt/image/upload/v1741150862/a5l2o3cevonfgfyf7m3d.jpg" server:defer />
				<SimplePropertyCard location="Morwell, VIC, 3840" img="https://res.cloudinary.com/hc4clemkt/image/upload/v1695809098/kue71svnot9okyiajqka.jpg" server:defer />
			</div>
			<div class="flex justify-center">
				<a href="/properties" class="btn bg-[#6cab38] hover:bg-[#6cab38]/85 btn-lg text-white px-5 mt-2.5">View Properties</a>
			</div>
		</div>
	</div>
	<div class="flex justify-around bg-[#116089] mx-auto p-10">
		<div class="flex flex-col justify-center items-center">
			<h1 class="text-6xl font-semibold text-center text-white mb-10">Reviews</h1>
			<Review server:defer />
		</div>
	</div>
</Layout>
