---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Newsletter | Infinity Support Services">
    <div class="flex flex-col justify-center items-center h-screen">
        <h1 class="text-5xl text-[#116089] font-bold m-5">Coming Soon</h1>
    </div>
</Layout>