---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Programs | Infinity Support Services">
    <div class="flex flex-col justify-center items-center">
        <h1 class="text-5xl text-[#116089] font-bold m-5">Programs</h1>
        <div class="flex lg:flex-row flex-col justify-around items-center mt-2">
            <img src="/png/Art_Program_Flier.png" class="lg:w-[25%] w-[75%] relative m-5">
            <img src="/png/Gaming_Room_Flier.png" class="lg:w-[25%] w-[75%] relative m-5">
            <img src="/png/Wood_Work_Flier.png" class="lg:w-[25%] w-[75%] relative m-5">
        </div>
    </div>
</Layout>