---
import ComplexPropertyCard from "../components/ComplexPropertyCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Properties | Infinity Support Services">
    <div class="flex flex-col justify-center items-center p-10">
        <h1 class="text-5xl text-[#116089] font-bold m-5">Properties</h1>
        <ComplexPropertyCard
            id="house"
            details="Modern 2-Bedroom HPS+R - Kipfler Street, Munno Para"
            location="Munno Para, SA, 5115"
            images={["https://static.wixstatic.com/media/382cc6_ce053c94234643e6992c7900cd95593f~mv2.jpg/v1/crop/x_0,y_23,w_2400,h_1497/fill/w_622,h_388,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/Property%20Listing%20-%20SA.jpg","https://static.wixstatic.com/media/382cc6_ce053c94234643e6992c7900cd95593f~mv2.jpg/v1/crop/x_0,y_23,w_2400,h_1497/fill/w_622,h_388,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/Property%20Listing%20-%20SA.jpg"]}
            url="https://www.housinghub.org.au/property-detail/48H9A/2CGU1"
        />
        <ComplexPropertyCard
            id="anotherhouse"
            details="Modern 2-Bedroom HPS+R - Kipfler Street, Munno Para"
            location="Munno Para, SA, 5115"
            images={["https://static.wixstatic.com/media/382cc6_ce053c94234643e6992c7900cd95593f~mv2.jpg/v1/crop/x_0,y_23,w_2400,h_1497/fill/w_622,h_388,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/Property%20Listing%20-%20SA.jpg"]}
            url="https://www.housinghub.org.au/property-detail/48H9A/2CGU1"
        />
        <ComplexPropertyCard
            id="morehouse"
            details="Modern 2-Bedroom HPS+R - Kipfler Street, Munno Para"
            location="Munno Para, SA, 5115"
            images={["https://static.wixstatic.com/media/382cc6_ce053c94234643e6992c7900cd95593f~mv2.jpg/v1/crop/x_0,y_23,w_2400,h_1497/fill/w_622,h_388,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/Property%20Listing%20-%20SA.jpg"]}
            url="https://www.housinghub.org.au/property-detail/48H9A/2CGU1"
        />
    </div>
</Layout>