<footer class="footer footer-center bg-[#20466a] text-white p-4">
    <aside>
        <p>Copyright &copy; {new Date().getFullYear()} Infinity Support Service - All rights reserved</p>
        <p class="mt-1">Designed by <a href="https://heathcotetech.com.au/">Heathcote Tech</a></p>
    </aside>
</footer>