---
import ReviewCard from "./ReviewCard.astro";
import { getSecret } from "astro:env/server";
const GOOGLE_API_KEY = getSecret("GOOGLE_API_KEY");
const GOOGLE_PLACE_ID = getSecret("GOOGLE_PLACE_ID");
const GOOGLE_API_URL = `https://maps.googleapis.com/maps/api/place/details/json?place_id=${GOOGLE_PLACE_ID}&fields=reviews&key=${GOOGLE_API_KEY}`;

var fiveStarsReviews = [];
try {
    const response = await fetch(GOOGLE_API_URL);
    const data = await response.json();
    const reviews = data.result?.reviews ?? [];
    fiveStarsReviews = reviews.filter((review: { rating: number }) => review.rating === 5);
} catch (error) {
    console.error("Error fetching reviews:", error);
}
---

<div class="flex lg:flex-row flex-col">
    {fiveStarsReviews.length === 0 ? (
        <div class="flex flex-col items-center justify-center">
            <h2 class="text-2xl font-bold">No reviews available</h2>
        </div>
    ) : fiveStarsReviews.map((review: { author_name: string; profile_photo_url: string; text: string }) => (
        <ReviewCard
            name={review.author_name}
            description={review.text}
        />
    ))}
</div>