---
const {
    location,
    img
} = Astro.props;
---

<div class="card bg-white lg:w-96 w-84 shadow-sm m-5 hover:transform hover:scale-105 transition-transform duration-300">
    <figure>
        <img src={img} />
    </figure>
    <div class="card-body">
        <h2 class="card-title flex justify-center text-[#116089]">{location}</h2>
    </div>
</div>